<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/about">Sobre nosotros</a></li>
    <li><a href="/form">Formulario</a></li>
    <li><a href="/data">Datos almacenados</a></li>
  </ul>
</nav>
