<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>About</title>
</head>
<body>
  <%- include('partials/navbar') %>
  <h1>About Page</h1>
  <p>Welcome to the about page!</p>
</body>
</html>
