<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Datos almacenados</title>
</head>
<body>
  <%- include('partials/navbar') %>
  <h1>Datos almacenados</h1>
  <ul>
    <% for (var i = data.length - 1; i >= 0; i--) { %>
      <li><%= data[i].name %> - <%= data[i].email %></li>
    <% } %>
  </ul>
</body>
</html>
