<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Form</title>
</head>
<body>
  <h1>Form Page</h1>
  <form action="/submit-form" method="POST">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
    <button type="submit">Enviar</button>
  </form>
  
</body>
</html>
