<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <%- include('partials/navbar') %>
  <h1>Index Page</h1>
  <p>Welcome to the index page!</p>
</body>
</html>
